figure {
    display: flex;
    height: 700px;
    background: var(--Main-BG-Color);
    align-items: flex-end;
    overflow-x: scroll;
}
figure div {
    background: sandybrown;
    margin: 0;
    transition: all 300ms ease;
}