<nav [attr.data-theme]="getTheme()">
  <ul>
    <li routerLinkActive="active">
        <a routerLink="/bla" >image selection</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/path">path</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/crypto">crypto</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/threeJS">threeJS</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/loading">loading</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/observable">observable</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/range-slider">range slider</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/angle-shape">angle-shape</a>
    </li>
    
  </ul>
  <light-dark-mode (_darkMode)="changeMode($event)"></light-dark-mode>
</nav>
<main [attr.data-theme]="getTheme()">
  <router-outlet></router-outlet>
</main>