
:root {
    --Dark-Main-BG-Color: rgb(40,40,40);
    --Dark-Nav-BG-Color: rgb(40,40,40);
    --Dark-Nav-BG-Active: rgb(55,55,55);
    --Dark-Font-Color: rgb(200,200,200);

    --Light-Main-BG-Color: rgb(215,215,215);
    --Light-Nav-BG-Color: rgb(0,191,255);
    --Light-Nav-BG-Active: rgb(200,200,200);
    --Light-Font-Color: rgb(40,40,40);
    --nav-height: 3rem;
}
[data-theme="light"] {
    --Main-BG-Color: var(--Light-Main-BG-Color);
    --Nav-BG-Color: var(--Light-Nav-BG-Color);
    --Nav-BG-Active: var(--Light-Nav-BG-Active);
    --Font-Color: var(--Light-Font-Color);
}
[data-theme="dark"] {
    --Main-BG-Color: var(--Dark-Main-BG-Color);
    --Nav-BG-Color: var(--Dark-Nav-BG-Color);
    --Nav-BG-Active: var(--Dark-Nav-BG-Active);
    --Font-Color: var(--Dark-Font-Color);
}
body, html {
    margin: 0;
}